*.bbl
*.blg
*.cfg
*.stackdump
*.make
*.d
*.temp
*.fls
*.cookie
*.f.tex
*.bib
!thesis.bib
*.lof
*.lot
*.bcf
dataflow.tex
deadcode.tex
lamCComp.tex
lang_fig7_eval.tex
lang_fig7_syntax.tex
languages.tex
mil.tex
*.run.xml
thesis.tex
uncurrying.tex
hoopl.tex
hoopl_lst4.tex
